In [1]:
from sqlalchemy import create_engine, text
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
from numpy import cos, sin, arcsin, sqrt
from math import radians
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster

In [2]:
all= df = pd.read_csv('../data/BDI3 All Evals for NSS 11-2023.xlsx - Eligibility Evals_03DB4A0D-67C6 (1).csv')
all

C:\Users\joyce\AppData\Local\Temp\ipykernel_67404\3834847627.py:1: DtypeWarning: Columns (0,43) have mixed types. Specify dtype option on import or set low_memory=False.
  all= df = pd.read_csv('../data/BDI3 All Evals for NSS 11-2023.xlsx - Eligibility Evals_03DB4A0D-67C6 (1).csv')

,Child ID,Gender,Date of Birth,Location - Sub Level 1,Program Label,Adaptive Sum of Scaled Scores,Adaptive Developmental Quotient,Adaptive Percentile Rank,Adaptive 95% Confidence Interval,Adaptive RDI,...,Code 1,Code 2,Code 3,Code 4,Code 5,Code 6,Code 7,Code 8,Code 9,Code 10
0,44879,F,9/27/2022,Southwest,BDI-3 Eligibility Evaluation,7.0,85.0,16,77-97,39/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47795,F,12/23/2020,Greater Nashville,BDI-3 Eligibility Evaluation,16.0,88.0,21,82-96,79/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,54340,M,6/22/2021,First Tennessee,BDI-3 Eligibility Evaluation,8.0,90.0,25,81-101,77/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54344,F,3/7/2022,Southeast Tennessee,BDI-3 Eligibility Evaluation,13.0,115.0,84,103-123,99/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,54515,M,11/4/2021,Memphis Delta,BDI-3 Eligibility Evaluation,5.0,75.0,5,68-88,Sep-90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23942,SP03287,F,9/25/2023,Memphis Delta,BDI-3 Eligibility Evaluation,13.0,115.0,84,103-123,99/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23943,SP03288,F,5/18/2021,South Central,BDI-3 Eligibility Evaluation,25.0,115.0,84,107-121,96/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23944,SP03289,F,10/31/2021,South Central,BDI-3 Eligibility Evaluation,21.0,103.0,58,96-110,92/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23945,SP03290,M,3/25/2020,Memphis Delta,BDI-3 Annual Evaluation,16.0,88.0,21,82-96,66/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23946,SP03291,M,9/18/2023,Greater Nashville,BDI-3 Eligibility Evaluation,11.0,105.0,63,94-114,94/90,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23947 entries, 0 to 23946
Columns: 219 entries, Child ID to Code 10
dtypes: float64(79), object(140)
memory usage: 40.0+ MB

In [4]:
all.info

<bound method DataFrame.info of       Child ID Gender Date of Birth Location - Sub Level 1  \
0        44879      F     9/27/2022              Southwest
1        47795      F    12/23/2020      Greater Nashville
2        54340      M     6/22/2021        First Tennessee
3        54344      F      3/7/2022    Southeast Tennessee
4        54515      M     11/4/2021          Memphis Delta
...        ...    ...           ...                    ...
23942  SP03287      F     9/25/2023          Memphis Delta
23943  SP03288      F     5/18/2021          South Central
23944  SP03289      F    10/31/2021          South Central
23945  SP03290      M     3/25/2020          Memphis Delta
23946  SP03291      M     9/18/2023      Greater Nashville

                      Program Label  Adaptive Sum of Scaled Scores  \
0      BDI-3 Eligibility Evaluation                            7.0
1      BDI-3 Eligibility Evaluation                           16.0
2      BDI-3 Eligibility Evaluation                            8.0
3      BDI-3 Eligibility Evaluation                           13.0
4      BDI-3 Eligibility Evaluation                            5.0
...                             ...                            ...
23942  BDI-3 Eligibility Evaluation                           13.0
23943  BDI-3 Eligibility Evaluation                           25.0
23944  BDI-3 Eligibility Evaluation                           21.0
23945       BDI-3 Annual Evaluation                           16.0
23946  BDI-3 Eligibility Evaluation                           11.0

       Adaptive Developmental Quotient Adaptive Percentile Rank  \
0                                 85.0                       16
1                                 88.0                       21
2                                 90.0                       25
3                                115.0                       84
4                                 75.0                        5
...                                ...                      ...
23942                            115.0                       84
23943                            115.0                       84
23944                            103.0                       58
23945                             88.0                       21
23946                            105.0                       63

      Adaptive 95% Confidence Interval Adaptive RDI  ... Code 1  Code 2  \
0                                77-97        39/90  ...    NaN     NaN
1                                82-96        79/90  ...    NaN     NaN
2                               81-101        77/90  ...    NaN     NaN
3                              103-123        99/90  ...    NaN     NaN
4                                68-88       Sep-90  ...    NaN     NaN
...                                ...          ...  ...    ...     ...
23942                          103-123        99/90  ...    NaN     NaN
23943                          107-121        96/90  ...    NaN     NaN
23944                           96-110        92/90  ...    NaN     NaN
23945                            82-96        66/90  ...    NaN     NaN
23946                           94-114        94/90  ...    NaN     NaN

      Code 3  Code 4  Code 5 Code 6 Code 7 Code 8 Code 9  Code 10
0        NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
1        NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
2        NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
3        NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
4        NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
...      ...     ...     ...    ...    ...    ...    ...      ...
23942    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23943    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23944    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23945    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN
23946    NaN     NaN     NaN    NaN    NaN    NaN    NaN      NaN

[23947 rows x 219 columns]>

In [10]:
from datetime import datetime
all['Date of Birth']=all['Date of Birth'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y'))

TypeError: strptime() argument 1 must be str, not Timestamp

In [11]:
oldest= min(all['Date of Birth'])
oldest

Timestamp('2019-10-15 00:00:00')

In [12]:
youngest= max(all['Date of Birth'])
youngest

Timestamp('2023-10-30 00:00:00')

In [26]:
a_desc=all.iloc[:,6].describe()
a_med=all.iloc[:,6].median()
s_desc=all.iloc[:,14].describe()
s_med=all.iloc[:,14].median()
c_desc=all.iloc[:,22].describe()
c_med=all.iloc[:,22].median()
m_desc=all.iloc[:,30].describe()
m_med=all.iloc[:,30].median()
cog_desc=all.iloc[:,38].describe()
cog_med=all.iloc[:,38].median()

In [29]:
list=[a_desc,
a_med,
s_desc,
s_med,
c_desc,
c_med,
m_desc,
m_med,
cog_desc,
cog_med]
list

[count    23939.000000
 mean        86.988304
 std         17.689509
 min         46.000000
 25%         76.000000
 50%         88.000000
 75%        100.000000
 max        148.000000
 Name: Adaptive Developmental Quotient, dtype: float64,
 88.0,
 count    23927.000000
 mean        94.293601
 std         16.819322
 min         46.000000
 25%         84.000000
 50%         94.000000
 75%        106.000000
 max        154.000000
 Name: Social-Emotional Developmental Quotient, dtype: float64,
 94.0,
 count    23912.000000
 mean        79.060723
 std         20.417259
 min         46.000000
 25%         64.000000
 50%         79.000000
 75%         94.000000
 max        154.000000
 Name: Communication Developmental Quotient, dtype: float64,
 79.0,
 count    23912.000000
 mean        93.875711
 std         17.731262
 min         42.000000
 25%         83.000000
 50%         96.000000
 75%        106.000000
 max        154.000000
 Name: Motor Developmental Quotient, dtype: float64,
 96.0,
 count    23926.000000
 mean        88.412188
 std         16.620340
 min         40.000000
 25%         78.000000
 50%         90.000000
 75%        100.000000
 max        160.000000
 Name: Cognitive Developmental Quotient, dtype: float64,
 90.0]

Motor Developmental Quotient- median score 96.0
Communication Developmental Quotient median score 79.0

In [31]:
all['Date of Birth']

0       2022-09-27
1       2020-12-23
2       2021-06-22
3       2022-03-07
4       2021-11-04
           ...
23942   2023-09-25
23943   2021-05-18
23944   2021-10-31
23945   2020-03-25
23946   2023-09-18
Name: Date of Birth, Length: 23947, dtype: datetime64[ns]

In [33]:
current_date = datetime.now()
all['Age'] = ((current_date - all['Date of Birth']).dt.total_seconds() / (365.25 * 24 * 60 * 60)).astype(int)
all['Age']

0        1
1        3
2        2
3        1
4        2
        ..
23942    0
23943    2
23944    2
23945    3
23946    0
Name: Age, Length: 23947, dtype: int32

In [36]:
all['Age'].unique()

array([1, 3, 2, 0, 4])

In [39]:
all.groupby(['Age'])['Adaptive Developmental Quotient'].median()

Age
0    95.0
1    95.0
2    88.0
3    85.0
4    82.0
Name: Adaptive Developmental Quotient, dtype: float64

In [40]:
all.groupby(['Age'])['Social-Emotional Developmental Quotient'].median()

Age
0     97.0
1    100.0
2     94.0
3     92.0
4     92.0
Name: Social-Emotional Developmental Quotient, dtype: float64

In [41]:
all.groupby(['Age'])['Communication Developmental Quotient'].median()

Age
0    100.0
1     88.0
2     76.0
3     73.0
4     73.0
Name: Communication Developmental Quotient, dtype: float64

In [42]:
all.groupby(['Age'])['Motor Developmental Quotient'].median()

Age
0    100.0
1     94.0
2     98.0
3     94.0
4     87.0
Name: Motor Developmental Quotient, dtype: float64

In [43]:
all.groupby(['Age'])['Cognitive Developmental Quotient'].median()

Age
0    97.0
1    97.0
2    88.0
3    86.0
4    80.0
Name: Cognitive Developmental Quotient, dtype: float64